<script>
  
</script>
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- comment -%} Capture the content from header {%- endcomment -%}
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{%- assign pageUrl= contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last | split:'?' | last |
   url_decode | split:"\u0026"
-%}
{% comment %} we can assume keys and values are at same index so we crete 2 arrays {% endcomment %}
{% assign keys_array = "" %}
{% assign values_array = "" %}

{% comment %}Loop through each item, split by '=', and add to respective arrays{% endcomment %}
{% for item in pageUrl %}
  {% assign key_value_pair = item | split: "=" %}
  {% assign keys_array = keys_array | append: key_value_pair[0] | append: "," %}
  {% assign values_array = values_array | append: key_value_pair[1] | append: "," %}
{% endfor %}
<p>{{ keys_array }}</p>
<p>{{ values_array }}</p>

{% comment %}Remove the last comma to clean up the arrays{% endcomment %}
{% assign keys_array = keys_array | split: "," %}
{% assign values_array = values_array | split: "," %}

Page URL without request host: {{ pageUrl }}
{% for queryString in pageUrl %}
  
{% endfor %}
{% for param in params %}
  {% assign paramKey = param | split:"=" | first %}
  {% assign paramVal = param | split:"=" | slice: 1 %}
  <p>{{ paramKey }}:{{ paramVal }}</p><br>
  {% if paramKey == "hide_oos" and paramVal.first == "true" %}
    <p>hide oos</p>
  {% elsif paramKey == "row_length" and paramVal.first %}
    <p>row length {{ paramVal }}</p>
  {% elsif paramKey == "show_hero" and paramVal.first == "true" %}
    <p>show hero</p>
  {% elsif paramKey == "product_handles" and paramVal %}
    {% assign prods = paramVal.first | split: "," %}
    <ul id="product-grid" class="grid product-grid grid--3-col-tablet-down grid--3-col-desktop">
    {% for prod in prods %}
        {% assign prodObj = all_products[prods[forloop.index0]] %}
      <li class="grid__item">
        {% render 'card-product', card_product: prodObj %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endfor %}
