<script>
  
</script>
{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{%- comment -%} Capture the content from header {%- endcomment -%}
{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{%- assign pageUrl= contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first | split:'.myshopify.com' | last | split:'?' | last |
   url_decode | split:"\u0026"
-%}
{% comment %} we can assume keys and values are at same index so we crete 2 arrays {% endcomment %}
{% assign row_length = "" %}
{% assign hide_oos = "" %}
{% assign show_hero = "" %}
{% assign product_handles = "" %}

{% comment %}Loop through each item, split by '=', and add to respective arrays{% endcomment %}
{% for item in pageUrl %}
  {% assign key_value_pair = item | split: "=" %}
  {% if key_value_pair[0] == "row_length" %}
    {% assign row_length = key_value_pair[1] %}
  {% elsif key_value_pair[0] == "hide_oos" %}
    {% assign hide_oos = key_value_pair[1] %}
  {% elsif key_value_pair[0] == "show_hero" %}
    {% assign show_hero = key_value_pair[1] %}
  {% elsif key_value_pair[0] == "product_handles" %}
    {% assign product_handles = key_value_pair[1] | split: "," %}
  {% endif %}
{% endfor %}

<p>row length: {{ row_length }}</p>
<p>disply oos: {{ hide_oos }}</p>
<p>show hero: {{ show_hero }}</p>
<p>products: {{ product_handles }}</p>
  
  {% assign paramKey = param | split:"=" | first %}
  {% assign paramVal = param | split:"=" | slice: 1 %}
  <p>{{ paramKey }}:{{ paramVal }}</p><br>
  {% if show_hero == "true" %}
    <p>HERO</p>
  {% endif %}
  {% if hide_oos == "true" %}
    <p>HIDE OOS</p>
  {% endif %}
  <div class="collection">
    <ul id="product-grid" class="grid product-grid grid--{{ row_length }}-col-tablet-down grid--{{ row_length }}-col-desktop">
    {% for prod in product_handles %}
        {% assign prodObj = all_products[prod] %}
      {% if hide_oos == "true" and prodObj.available %}
      <li class="grid__item">
        {% render 'card-product', card_product: prodObj %}
      </li>
      {% elsif hide_oos == "false" %}
      <li class="grid__item">
        {% render 'card-product', card_product: prodObj %}
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
