<script>
  const url = window.location;
  console.log(url.search)
  
</script>
{%- comment -%} Capture the content for header containing the tracking data {%- endcomment -%}

{%- capture contentForQuerystring -%}{{ content_for_header }}{%- endcapture -%}

{% comment %} Use string splitting to pull the value from content_for_header and apply some string clean up {% endcomment %}

{%- assign pageUrlWithHost = contentForQuerystring | split:'"pageurl":"' | last | split:'"' | first |
   replace:'\/','/' | 
   replace:'%20',' ' | 
   replace:'\u0026','&'
-%}
{%- assign params = pageUrlWithHost | split:"?" | last | split:"&" -%}
Full URL:  {{ pageUrlWithHost }}
{% for param in params %}
  {% assign paramKey = param | split:"=" | first %}
  {% assign paramVal = param | split:"=" | slice: 1 %}
  <p>{{ paramKey }}:{{ paramVal }}</p><br>
  {% if paramKey == "hide_oos" and paramVal.first == "true" %}
    <p>hide oos</p>
  {% elsif paramKey == "row_length" and paramVal.first %}
    <p>row length {{ paramVal }}</p>
  {% elsif paramKey == "show_hero" and paramVal.first == "true" %}
    <p>show hero</p>
  {% elsif paramKey == "product_handles" and paramVal %}
    {% assign prods = paramVal | split:"," %}
    {% for prod in prods %}
        <p>{{ prod }}</p> <br>
        <ul
              id="product-grid"
              class="
                grid product-grid grid--2-col-tablet-down
                grid--3-col-desktop
              "
            >
        
        {% render 'card-product', card_product: {{ all_products['product_1'] }} %}
          <p>{{ all_products['product_1'].price }}</p>
      </ul>    
    {% endfor %}
  {% endif %}
{% endfor %}
{{ request.product_handles }}
